:root {
    --main-transition : 0.3s ;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
.c-fff {
    color: #fff !important;
}
.c-blue {
    color: var(--blue-color) !important;
}
.c-orange {
    color: var(--orange-color) !important;
} 
.c-green {
    color: var(--green-color) !important;
}
.c-red {
    color: var(--red-color) !important;
}
.c-grey {
    color: var(--grey-color) !important;
}
.bg-blue {
    background-color: var(--blue-color) !important;
}
.bg-orange {
    background-color: var(--orange-color) !important;
}
.bg-green {
    background-color: var(--green-color) !important;
}
.bg-red {
    background-color: var(--red-color) !important;
}
.bg-grey {
    background-color: var(--grey-color) !important;
}
.bg-fff {
    background-color: #fff !important;
}
.bg-blue-fff {
animation-name: bg-blue-fff;
animation-duration: 0.8s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes bg-blue-fff {
    0% {
        background-color: var(--blue-color);
    }
    100% {
        background-color: #fff;
    }
}
.b-ccc {
    border: 1px solid #ccc;
}
.b-eee {
    border: 1px solid #eee;
}
.border-none {
    border: none;
}
.b-l {
    border-left: 2px solid transparent;
}
.bc-blue {
border-color: var(--blue-color);
}
.bc-orange {
border-color: var(--orange-color);
}
.bc-red {
border-color: var(--red-color);
}
.bc-green {
    border-color: var(--green-color);
}
.bc-grey {
    border-color: var(--grey-color);
}
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-flex {
    flex-direction: column;
}
.al-center {
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-1 {
flex: 1;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
} 
.center-flex {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.d-grid {
    display: grid;
}
.full-grid {
    grid-template-columns: repeat(auto-fill , minmax(450px,1fr));
}

.full-width {
    width: 100%;
}
.relative {
    position: relative;
}
.active {
    background-color: #f6f6f6;
}
.bg-eee {
    background-color: #eee;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pl-15 {
padding-left: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.bt-eee {
    border-top: 1px solid #eee;
}
.bt-ccc {
    border-top: 1px solid #ccc;
}
.bb-eee {
    border-bottom: 1px solid #eee;
}
.bb-ccc {
    border-bottom: 1px solid #ccc;
}
.bg-trans {
    background-color: transparent;
}
.r-6 {
    border-radius: 6px;
}
.f-25 {
    font-size: 25px;
}
.f-14 {
    font-size: 14px;
}
.f-13 {
    font-size: 13px;
}
.f-12 {
    font-size: 12px;
}
.bold {
    font-weight: bold;
}
.wrapper {
    margin: 0 20px 20px;
    gap: 20px;

}
.box {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.box-title {
    margin: 5px 0 20px;
    color: var(--grey-color);
    font-weight: 500;
}
.click {
    font-size: 14px;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 0 15px 15px auto;
    transition: 0.3s;
    background-color: var(--blue-color);
    color: #fff;
    display: block;
    width: fit-content;
}
.click:hover {
    background-color: var(--blue-alt-color);
}
.ago {
    height: fit-content;
    width: fit-content;
    background-color: #eee;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 13px;
}
.delete:hover {
    color: var(--red-color);
}
.vanish {
    opacity: 0.3;
}
.th-line {
text-decoration: line-through;
}
.bullet {
    width: 22px;
    height: 22px;
    background-color: var(--blue-color);
    border: 2px solid #fff;
    border-radius: 50%;
    outline: 2px solid var(--blue-color);
    position: relative;
    z-index: 2;
}
.bullet-bar::after {
    content: "";
    position: absolute;
    height: 22px;
    width: 2px;
    background-color: var(--blue-color);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 25px);
    z-index: -1;
}
.pins {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.top-center {
top: 0;
left: 50%;
transform: translate(-50%, -50%);
}
.bottom-center {
bottom: 0;
left: 50%;
transform: translate(-50%, 50%);
}
.right-center {
right: 0;
top: 50%;
transform: translate(50%,-50%);
}
.left-center {
left: 0;
top: 50%;
transform: translate(-50%,-50%);
}
.center-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
    .mobile-img {
        display: none;
    }
    .mobile-flex {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}