*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
*:not(i) {
    font-family: "open sans", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
*:focus {
    outline: none;
}

:root {
    --main-transition : 0.3s ;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* scrollbar :start  */
::-webkit-scrollbar {
width: 20px;
}
::-webkit-scrollbar-thumb {
    background: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--blue-alt-color);
}
::-webkit-scrollbar-track {
    background: #fff;
}

/* scrollbar :end  */

/* start the main struct of the page  */


/* .side-nav :start  */
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}
.side-nav {
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    flex-basis: 200px;
    z-index: 2;
}
.side-nav h3.title-nav {
    text-align: center;
    margin-bottom: 50px;
}
.side-nav h3.title-nav::before {
    content: "";
    position: absolute;
    bottom: -25px;
    z-index: 4;
    left: 50%;
    transform: translate(-50%, 50%);
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    border: 5px solid #fff;
}
.side-nav h3.title-nav::after {
    content: "";
    position: absolute;
    bottom: -25px;
    z-index: 3;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 50%;
    height: 2px;
    background-color: black;
    border-radius: 6px;
}
.side-nav li a {
    color: black;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 10px;
}
.side-nav li a:hover { 
background-color: #f6f6f6;
}
@media (max-width : 767px) {
    .side-nav {
        flex-basis: 55px;
        gap: 10px;
    }
    .side-nav h3.title-nav {
        font-size: 10px;
        margin-bottom: 25px;
    }
    .side-nav h3.title-nav::before ,
    .side-nav h3.title-nav::after {
    display: none;
    }
    .side-nav li a {
        justify-content: center;
    }
    .side-nav li a span {
        display: none;
    }

}

/* .side-nav :end  */

/* .content :start  */
.content {
    flex-basis: calc(100% - 200px );
}
@media (max-width : 767px) {
    .content {
        flex-basis: calc(100% - 55px );
    }
}
/* .content :end */

/* .header :start  */
.header {
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    background-color: #fff;
    height: 70px;
}
.header .search {
    color: var(--grey-color);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    transition-duration: var(--main-transition);
    gap: 5px;
}
.header .search i {

}
.header .search input[type="search"] {
    border: none;
    width: 120px;
    transition-duration: var(--main-transition);
    font-weight: 600;
}

.header .search input[type="search"]:focus {
    width: 160px;
}
.header .user-icon {
    align-items: center;
    font-size: 20px;
    gap: 10px;
}
.header .user-icon .bell {

}
.header .user-icon .bell::before {
content: "";
position: absolute;
width: 10px;
height: 10px;
border-radius: 50%;
background-color: var(--red-color);
right: -2px;
top: -2px;
}

.header .user-icon img {
    width: 32px;
}

/* .header :end  */

/* main titile :start  */
h1.main-title {
    margin: 20px 20px 40px;
}
h1.main-title::before ,
h1.main-title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}
h1.main-title::before {
width: 120px;
background-color: #fff;
}
h1.main-title::after {
width: 40px;
background-color: #000;
}
/* main title end  */



/* welcome :start  */
.welcome {

}
.welcome .banner {
    justify-content: space-between;
    padding: 20px;
    background-color: #eee;
}
.welcome .banner p {
    margin: 5px 0 20px;
    color: var(--grey-color);
    font-weight: 500;
}
.welcome .info .image {

}
.welcome .info img {
    width: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    position: absolute;
    top: -50px;
    left: 20px;
    transform: translateY(-50%);
}
.welcome .info .status {
    margin: 50PX 0;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    gap: 20px;
}
.welcome .info .status .status-info {
    width: fit-content;
}
.welcome .info .status p {
font-weight: 600;
}
.welcome .info .status span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--grey-color);
}
@media (max-width:767px) {
    .welcome .info img {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
/* welcome :end  */

/* draft :start  */
.draft {

}
.draft h2 {

}
.draft p {
margin-bottom: 0;
}
.draft form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.draft form textarea {
    resize: none;
    height: 200px;
}

/* draft end  */

/* targets start  */
.targets {

}
.targets i {
    width: 80px;
    height: 80px;
}
.targets .info-status {
    flex: 1;
}
.targets span {
    color: var(--grey-color);
    font-size: 14px;
}
.targets p {
    margin: 5px 0 10px;
    font-weight: bold;
}

/* .targets .status.blue .prog-bar {
background-color: var(--blue-alt-color);
}
.targets .status.blue ,
.targets .status.blue .prog {
color: var(--blue-color);
background-color: rgb(0 117 255 / 20%);;
} */
.targets .prog-bar::before {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
    transform: translate(50% , calc(-100% - 10px));
}
.targets .prog-bar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 5px solid transparent;
    transform: translate(50% , -100%);
}
.targets .prog-bar {
    height: 3px
}
.targets .blue .prog ,
.targets .blue i {
    background-color: rgb(0 117 255 / 20%);
}
.targets .blue .prog-bar {
    background-color: var(--blue-color);
    width: 85%;
}
.targets .blue i {
    color: var(--blue-color);
}
.targets .blue .prog-bar::before {
    content: "85%";
    background-color: var(--blue-color);
}
.targets .blue .prog-bar::after {
    border-top-color: var(--blue-color) ;
}

.targets .orange .prog ,
.targets .orange i {
    background-color: rgb(245 158 11 / 20%);
}
.targets .orange .prog-bar {
    background-color: var(--orange-color);
    width: 55%;
}
.targets .orange i {
    color: var(--orange-color);
}
.targets .orange .prog-bar::before {
    content: "55%";
    background-color: var(--orange-color);
}
.targets .orange .prog-bar::after {
    border-top-color: var(--orange-color) ;
}

.targets .green .prog ,
.targets .green i {
    background-color: rgb(34 197 94 / 20%);
}
.targets .green .prog-bar {
    background-color: var(--green-color);
    width: 75%;
}
.targets .green i {
    color: var(--green-color);
}
.targets .green .prog-bar::before {
    content: "75%";
    background-color: var(--green-color);
}
.targets .green .prog-bar::after {
    border-top-color: var(--green-color) ;
}

/* targets end  */

/* Tickets Statistics :start  */
.tickets {

}
.tickets .info {
    width: calc(50% - 10px);
}
.tickets .info i {
    font-size: 25px;
}
.tickets .info p {
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 25px;
}
.tickets .info span {
font-size: 12px;
}
/* Tickets Statistics :end  */

/* news :start  */
.news {

}
.news .content {

}
.news .info  {
gap: 15px;
}
.news .info img {
width: 100px;
}
.news .info .info-text {
flex: 1;
}
.news .info .info-text p {
margin-bottom: 6px;
}
.news .info .info-text span {
font-size: 14px;
} 

/* news :end  */